<% content_for :head do %>
    <%= stylesheet_link_tag "tags" %>
<% end %>

<h1 class = "user_title"><span>Users List</span></h1>

<div><a href="/photos/new">New Photo</a></div>

<% @title="User List"%>

	<div class = "search">
        <div>
            <div>Search:</div><input type="text" id="searchText"/>
        </div>
        <div>Result:</div>
        <div class="searchResult" id="searchResult"></div>
    </div>

<% @user_info.each do |user| %>
    
    <div class="user_name">
    <a href="/photos/index/<%= user.id %>">
        <span><%= user.first_name + " " + user.last_name %></span>
    </a>
	</div>

<% end %>


<script type="text/javascript">
    //<![CDATA[
    new PhotoSearch("searchText","searchResult");
    console.log("in")
    //]]>
</script>